<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator
                type="SitecoreUrlShorter.Feature.Core.Infrastructure.CoreServicesConfiguration, SitecoreUrlShorter.Feature.Core" />
        </services>
        <settings>
            <setting name="SitecoreUrlShorter.Feature.Core.Settings"
                     value="/sitecore/system/Modules/URL Shortening Service/URL Shortening Service Settings" />
        </settings>
        <pipelines>
            <httpRequestBegin>
                <processor
                    patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']"
                    type="SitecoreUrlShorter.Feature.Core.Infrastructure.Pipelines.ShortUrlResolver, SitecoreUrlShorter.Feature.Core" reusable="false" resolve="true" />
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>