<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <renderContentEditor>
                <processor patch:before="*[1]" type="SitecoreUrlShorter.Feature.UserInterface.Pipelines.AddScriptsToContentEditor, SitecoreUrlShorter.Feature.UserInterface" />
            </renderContentEditor>
        </pipelines>
        <settings>
            <setting name="SitecoreUrlShorter.Feature.UserInterface.JavaScript" value="/Scripts/SitecoreUrlShorter/Feature.UserInterface.js" />
            <setting name="SitecoreUrlShorter.Feature.UserInterface.Stylesheet" value="/Scripts/SitecoreUrlShorter/Feature.UserInterface.css" />
        </settings>
        <commands>
            <command name="shorturl:new" type="SitecoreUrlShorter.Feature.UserInterface.Commands.GenerateNewUrl, SitecoreUrlShorter.Feature.UserInterface" />
        </commands>
    </sitecore>
</configuration>