.verticallyCentered { line-height: 40px; }

.displayFlex { display: flex; }

.generateUrlButton {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.showUrlOutput { margin-left: 10px; }

.copyShortUrlButton {
    /* ReSharper disable Html.PathError */
    background: url("/temp/iconcache/office/32x32/clipboard_paste.png");
    /* ReSharper restore Html.PathError */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border: 0;
    cursor: pointer;
    height: 24px;
    margin-bottom: auto;
    margin-left: 7px;
    margin-top: auto;
    padding: 15px 20px 15px 15px;
    width: 24px;
}

.copyShortUrlButton:hover { background-color: #E3E3E3; }